<h3> Change it up: </h3>
<%= form_for @house do |f| %>
<%= f.text_field :name %>
<ul>
  <h4>Just don't give out pretzels...</h4>
  <% @candies.each do |candy| %>
        <%= label_tag candy.name %>
        <%= check_box_tag 'candies[]', candy.id,  @house.candies.include?(candy), :id => candy.name %>
        <br>
  <% end %>
</ul>
<%= f.submit %>
<% end %>