<h2> Welcome to Halloween, the greatest holiday!</h2>

<%= form_for(@kid) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %></br>
  <%= f.label "Age" %>
  <%= f.number_field :age, in: 0..100 %></br>
  <%= f.submit "Start Trick Or Treatin'" %>
<% end %>
