<h3> 'Cause this is Thriller, Thriller Night.</h3>
<%= hidden_field_tag "Welcome to Halloween, the greatest holiday!" %>

<%= form_for(@kid) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %></br>
  <%= f.label "Age" %>
  <%= f.number_field :age, in: 0..100 %></br>
  <%= f.submit "Start Trick Or Treatin'" %>
<% end %>
